:root {
  --primary-light: #8abdff;
  /* --primary-own: #5a84a2; */
  /* --primary-own:#373D3F; */
  --primary-own:#0D3D56;
  --primary-dark: #5b0eeb;
  
  --white: #FFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --greyDark-1: #BABECC;
  --background-1:#EBECF0;
}

@media screen and (min-width:851px) {
  html{
      font-size: 62.5%;
  }

  body{
    background-color: var(--background-1) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .main-container{
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }
  .heading{
    text-align: center;
    color: var(--primary-own);
    padding-bottom: 2rem;
  }
  .download-link{
    font-size: 1.5rem;
    text-decoration: underline;
    color: #117899;
    text-align: center;
  }
  .card-container{
    padding-bottom: 3rem;
  }
  .first-container{
    display: flex;
    justify-content: space-between;
  }
  .ani-card{
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyDark-1), 
    -.2rem -.2rem .5rem var(--white);
    background: linear-gradient(140deg, rgba(235,236,240, 0.22), rgba(248, 247, 247, 0.25));
  }
  .circle-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: .4rem .4rem 0.8rem var(--greyDark-1), 
                 -.5rem -.5rem 1rem var(--white);
    background: linear-gradient(140deg, rgba(235,236,240, 0.22), rgba(248, 247, 247, 0.25));
    width: 25rem;
    height: 25rem; 
  }
  .circle-card-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background-color: transparent;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    box-shadow: inset .4rem .4rem 0.8rem var(--greyDark-1),
                inset -.5rem -.5rem 1rem var(--white);
    position: relative; 
  }
  .photo{
    width:100%;
    height: 100%;
    border-radius: 50%;
  }
  .main-heading{
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    font-weight: bolder;
    color: var(--primary-own);
    text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5);
  }
  .sub-heading{
    font-size: 1.8rem;
    font-weight: 750;
    color: var(--primary-own);
    /* text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5); */
  }
  .text{
    font-size: 1.7rem;
    color: var(--primary-own);
    /* text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5); */
  }
  .contact-container{
    display: flex;
  }
  .space-line-bottom{
    padding-bottom: 0.7rem;
  }
  .space-left{
    padding-left: 0.6rem;
  }
  .underline{
    text-decoration: underline;
    color: var(--primary-own)
  }
  .present-address{
    padding-top: 2rem;
  }
  .address{
    padding-top: 1.5rem;
  }
  .heading-space{
    padding-bottom: 1.4rem;
  }
.ani-table-container{
  border: 0.3rem solid gray;
}
th{
  border: 0.3rem solid gray;
}
td{
  border: 0.3rem solid gray;
}
tr{
  border: 0.3rem solid gray;
}
li{
  list-style-type: circle;
  font-size: 2.4rem;
}
.project-container{
  padding-top: 2.5rem;
}
.project-th{
  width: 30%;
}
.link-container{
  /* width: 30%; */
  font-size: 1.9rem;
  text-decoration: underline;
}
.link-container>a{
color: #117899;
}
.personal-details-container{
  padding-left: 3%;
}
.personal-details-container>div{
  padding: 2rem;
  border-radius: 1.3rem;
}
.personal-details{
  border: 0.01rem solid #dee2e6;
}

}



/*********************************************** Tablet View***************************/
@media screen and (min-width:451px) and (max-width:850px) {
  html{
      font-size: 55%;
  }
  body{
    background-color: var(--background-1) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .main-container{
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }
  .heading{
    text-align: center;
    color: var(--primary-own);
    padding-bottom: 2rem;
  }
  .download-link{
    font-size: 1.5rem;
    text-decoration: underline;
    color: #117899;
    text-align: center;
  }
  .card-container{
    padding-bottom: 3rem;
  }
  .first-container{
    display: flex;
    justify-content: space-between;
  }
  .ani-card{
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyDark-1), 
    -.2rem -.2rem .5rem var(--white);
    background: linear-gradient(140deg, rgba(235,236,240, 0.22), rgba(248, 247, 247, 0.25));
  }
  .circle-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: .4rem .4rem 0.8rem var(--greyDark-1), 
                 -.5rem -.5rem 1rem var(--white);
    background: linear-gradient(140deg, rgba(235,236,240, 0.22), rgba(248, 247, 247, 0.25));
    width: 25rem;
    height: 25rem; 
  }
  .circle-card-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background-color: transparent;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    box-shadow: inset .4rem .4rem 0.8rem var(--greyDark-1),
                inset -.5rem -.5rem 1rem var(--white);
    position: relative; 
  }
  .photo{
    width:100%;
    height: 100%;
    border-radius: 50%;
  }
  .main-heading{
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    font-weight: bolder;
    color: var(--primary-own);
    text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5);
  }
  .sub-heading{
    font-size: 1.8rem;
    font-weight: 750;
    color: var(--primary-own);
    /* text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5); */
  }
  .text{
    font-size: 1.7rem;
    color: var(--primary-own);
    /* text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5); */
  }
  .contact-container{
    display: flex;
  }
  .space-line-bottom{
    padding-bottom: 0.7rem;
  }
  .space-left{
    padding-left: 0.6rem;
  }
  .underline{
    text-decoration: underline;
    color: var(--primary-own)
  }
  .present-address{
    padding-top: 2rem;
  }
  .address{
    padding-top: 1.5rem;
  }
  .heading-space{
    padding-bottom: 1.4rem;
  }
.ani-table-container{
  border: 0.3rem solid gray;
}
th{
  border: 0.3rem solid gray;
  border-bottom: none !important;
}
td{
  border: 0.3rem solid gray;
}
tr{
  border: 0.3rem solid gray;
}
li{
  list-style-type: circle;
  font-size: 2.4rem;
}
.project-container{
  padding-top: 2.5rem;
}
.project-th{
  width: 30%;
}
.link-container{
  /* width: 59%; */
  font-size: 1.9rem;
  text-decoration: underline;
}
.link-container>a{
color: #117899;
}
.personal-details-container{
  padding-left: 3%;
}
.personal-details-container>div{
  padding: 2rem;
  border-radius: 1.4rem;
}
.personal-details{
  border: 0.01rem solid #dee2e6;
}

}


/**************************** Mobile View ************************************/
@media screen and (max-width:450px) {
  html{
      font-size: 45%;
  }
  body{
    background-color: var(--background-1) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .main-container{
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }
  .heading{
    text-align: center;
    color: var(--primary-own);
    padding-bottom: 9vh;
  }
  .download-link{
    font-size: 1.45rem;
    text-decoration: underline;
    color: #117899;
    text-align: center;
  }
  .card-container{
    padding-bottom: 3rem;
  }
  .mobile{
    position: relative;
  }
  .first-container{
    padding-top: 23%;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  .pic-mobile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30%;
    width: 100%;
  }
  .ani-card{
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyDark-1), 
    -.2rem -.2rem .5rem var(--white);
    background: linear-gradient(140deg, rgba(235,236,240, 0.22), rgba(248, 247, 247, 0.25));
  }
  .circle-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: .4rem .4rem 0.8rem var(--greyDark-1), 
                 -.5rem -.5rem 1rem var(--white);
    background: linear-gradient(140deg, rgba(235,236,240, 0.22), rgba(248, 247, 247, 0.25));
    width: 15rem;
    height: 15rem; 
  }
  .circle-card-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background-color: transparent;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    box-shadow: inset .4rem .4rem 0.8rem var(--greyDark-1),
                inset -.5rem -.5rem 1rem var(--white);
    position: relative; 
  }
  .photo{
    width:100%;
    height: 100%;
    border-radius: 50%;
  }
  .main-heading{
    font-size: 1.6rem;
    word-spacing: 0.2rem;
    font-weight: bolder;
    color: var(--primary-own);
    text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5);
  }
  .sub-heading{
    font-size: 1.5rem;
    font-weight: 750;
    color: var(--primary-own);
    /* text-shadow: 0 0.1rem 0.1rem rgba(var(--greyDark), 0.5); */
  }
  .text{
    font-size: 1.5rem;
    color: var(--primary-own);
    /* text-shadow: 0 0.1rem 0.1rem rgba(0,0, 0, 0.5); */
  }
  .contact-container{
    display: flex;
  }
  .space-line-bottom{
    padding-bottom: 0.7rem;
  }
  .space-left{
    padding-left: 0.6rem;
  }
  .underline{
    text-decoration: underline;
    color: var(--primary-own)
  }
  .present-address{
    padding-top: 2rem;
  }
  .address{
    padding-top: 1.5rem;
  }
  .heading-space{
    padding-bottom: 1.4rem;
  }
.ani-table-container{
  border: 0.3rem solid gray;
}
th{
  border: 0.3rem solid gray;
  border-bottom: none !important;
}
td{
  border: 0.3rem solid gray;
}
tr{
  border: 0.3rem solid gray;
}
li{
  list-style-type: circle;
  font-size: 2.4rem;
}
.project-container{
  padding-top: 2.5rem;
}
.project-th{
  width: 30%;
}
.link-container{
  width: 100%;
  font-size: 1.5rem;
  text-decoration: underline;
}
.link-container>a{
color: #117899;
}
.personal-details-container{
  padding-left: 3%;
  /* padding: 0rem !important; */
}
.personal-details-container>div{
  padding: 2rem;
  border-radius: 1.5rem;
}
.personal-details{
  border: 0.01rem solid #dee2e6;
}
}